* {
    padding: 0;
    margin: 0;
}
.headercontainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: darkorchid;
    height: 65px;
    gap: 30px;
    padding: 0 37px;
}
.headercontainer>img {
    height: 65px;
}
.headercontainer>h1 {
    color: #FFF;
    font-family: Consolas;
    font-size: 20.748px;
    font-style: normal;
    font-weight: 700;
}
.headercontainer>h4 {
    margin-left: auto;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.generatorForm{
    padding: 36px;
}
.generatorForm>div {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}
.generatorForm>div>input {
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-indent: 20px;
}
.generatorForm>div>button{
    grid-column: 1 / -1;
    border-radius: 5px;
    background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.generatorForm>div>button>img{
    scale: 0.5;
}
.generatorForm {
    display: flex;
    flex-direction:column ;
    gap: 20px;
}
.memeImages {
    max-width: 100%;
}
